@{
    ViewData["Title"] = "Home Page";
}

@model Tuple<List<RivalModel>, string, string>

@{
    List<SelectListItem> genderList = new List<SelectListItem>
    {
        new SelectListItem("Все участники", "all", true),
        new SelectListItem("Мужчины", "male"),
        new SelectListItem("Женщины", "female")
    };
    }

    @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
    <p></p>
    @Html.DropDownList("RivalGender", genderList, new { id = "genderDropDown", CssClass = "dropDownList"})
    <p></p>
    <hr>
    <div id="rivalTable">
        <center>
                    @{
                        var tuple = new Tuple<List<RivalModel>, string>(Model.Item1.ToList(), Model.Item3);
                        await Html.RenderPartialAsync("_PersonalChallengePartialTable", tuple);
                    }
        </center>
    </div>
    </center>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('select').on('change', function () {
                var _gender = document.getElementById('genderDropDown').value;
       @{
            var tuple = new Tuple<List<RivalModel>, string>(Model.Item1, Model.Item3);
        }
                const table = document.getElementById('rivalTable');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OnCompanySelect", "Home", tuple)',
                    data: { gender: _gender },
                    success:
                        function (response) {
                            $('#personalResultPartialTable').remove();
                            $('#personalResultPartialTable').append(response);
                            table.innerHTML = response;
                        }
                });
            });
        });
    </script>
    
}

